/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}
.sidebarItem{
    -fx-background-color: #F2F2F2;
}
.sidebarItem:hover{
    -fx-background-color: #e4e2e2;
    -fx-border-color: #A1A626;
    -fx-border-width: 0px 0px 0px 3px;
}

.border{
    -fx-border-color: #e4e2e2;
    -fx-border-width: 0px 2px 0px 0px;
}